.payment__option_label {
    margin-bottom: var(--label-margin-bottom);
    display: inline-block;
    font-size: var(--fz-sub-text);
}
.payment__option_active {
    cursor: pointer;
}
.payment__option_select {
    transition: .5s ease all;
    display: flex;
    align-items: center;
    font-size: var(--select-target-size);
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #ffffff0a;
    padding: 0 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    appearance: none;    
    -webkit-appearance: none; 
    -moz-appearance: none; 
}
.payment__option_select::-ms-expand {
  display: none;
}


.payment__option_show::after {
  transform: translateY(-50%) rotate(0) !important;
}

.payment__option_select option {
    background-color: #242424; 
    cursor: pointer;
    color: #fff;                 
}
.form__item_wrapper {
    position: relative;
}
section.form__item_wrapper::after {
  content: ""; 
  height: var(--select-arrow-height); 
  width: var(--select-arrow-width);
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;

  background-image: url('/src/assets/arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  transition: transform .5s ease ;
  transform: translateY(-50%) rotate(180deg);
}

.custom__select_drop::-webkit-scrollbar {
  width: 5px;
}
.custom__select_drop::-webkit-scrollbar-track {
  background: #232323;
  border-radius: 5px;
}
.custom__select_drop::-webkit-scrollbar-thumb {
  background: #151515;
  border-radius: 10px;
  transition: .5s ease all;
}
.customSelect__option_item {
    transition: .5s ease background-color;
    padding: 10px 20px;
    font-size: var(--fz-sub-text);
    cursor: pointer;
}
.customSelect__option_item:hover {
    background-color: #ffffff1d;
}
.custom__select_disable {
    cursor: not-allowed;
    opacity: 0.5;
}
.custom__select_disable > p {
    color: var(--sub-text);
}

.custom__select_drop {

    padding-left: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 26px;
    border-radius: 20px;
    background-color: #ffffff06;
    backdrop-filter: blur(10px);
    list-style: none;
    max-height: 0;
    overflow: auto;
    z-index: 2;
    transition: max-height .5s ease ;
}
.custom__select_show {
    max-height: 100px;
}